body{
    background-color: #e8fad7;
}

h1{
    text-align: center;
}

.btn-primary{
    align-items: center;
}

#jouer{
    background-color: #09000a;
    border-radius: 10px;
    color: #eeeeee;
    font-size: 15px;
    padding: 20px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}
#jouer:hover {
    background-color: #757575;
}

.bouton_play{
    transition-duration: .2s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.bouton_play.hover{
    opacity: .2;
}

#rouge{

    background-color: red;
    border-radius: 10px;
    width: 150px;
    height: 150px;

}
#bleu{
    background-color: #2121ce;
     border-radius: 10px;
     width: 150px;
    height: 150px;
}
#vert{
    background-color: #1fd21f;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}#jaune{
    background-color: #fafa03;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.game,.fin {
    display: none;
}
